/* ============== FONTS ============== */

@font-face {
    font-family: "gilroylight";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "gilroyextrabold";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "opensans";
    src: url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "opensanslight";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

/* ============== GENERAL ============== */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}


body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	
	font-family: "opensanslight", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #464646;

	background-color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.wrapper {
	margin: 0 auto;
	padding: 0 20px;
	width: 1200px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============== HEADER ============== */

.main-header {
	padding-top: 40px;

	line-height: 36px;
	color: #000000;	
}

.main-navigation {
	padding-top: 1px;
	padding-left: 59px;
	padding-right: 60px;
	padding-bottom: 162px;

	background-color: #f7e296;
}

.main-navigation.inner-page {
	padding-bottom: 49px;
	margin-bottom: 33px;
}

.main-header-logo {
	display: block;
	margin-bottom: 17px;
	margin-top: -20px;
	width: 164px;
	height: 36px;
}

.main-navigation.inner-page .main-header-logo {
	margin-bottom: 15px;
	margin-top: -18px;
}

.main-navigation .wrapper-top {
	display: flex;
	align-items: baseline;
	margin-bottom: 32px;
}


.main-navigation a {
	color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus,
.main-header-logo:hover img,
.main-header-logo:focus img {
	opacity: .6;
}

.main-navigation a:active,
.main-header-logo:active img {
	opacity: .3;
}

.site-navigation,
.user-navigation,
.goods-actions,
.catalog-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}


.user-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 325px;
}

.user-login {
	margin-left: 76px;
}

.user-profile {
	width: 240px;
	text-align: right;
	margin-right: 13px;
	padding-right: 9px;
}

.user-login a:before,
.user-profile a:before {
	content: "";
	display: inline-block;
	width: 13px;
	height: 12px;
	margin-right: 13px;
	
	background-image: url("../img/icons/user_icon.svg");
	background-repeat: no-repeat;
  	background-position: 0 0;
}

.user-logout a {
	color: rgba(0, 0, 0, .3);
}

.goods-actions {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 220px;
	margin-left: auto;
	padding-left: 7px;
}

.goods-actions li:not(:last-of-type) {
	padding-right:10px;
}

.goods-cart {
	text-align: right;
}

.goods-cart a::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 12px;
	
	background-image: url("../img/icons/cart_icon.svg");
	background-repeat: no-repeat;
  	background-position: 0 0;
}

.goods-compare a::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	
	background-image: url("../img/icons/compare_icon.svg");
	background-repeat: no-repeat;
  	background-position: 0 0;
}

.main-search {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	
	width: 450px;
	/*width: 500px;*/
	margin-right: 15px;
}

.main-search input[type="text"] {
	display: block;
	margin: 0;
	padding-right: 0;
	padding-top: 3.5px;
	padding-bottom: 5.5px;
	padding-left: 39px;

	width: 356px;

	font-family: "opensanslight", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: .01em;
	color: rgba(0, 0, 0, .1);

	border: 0;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	
	background-color: transparent;
}


.main-search input[type="text"]:focus {
	border-bottom: 2px solid #000000;
	color: rgb(0, 0, 0);
	outline: none;
}

.main-search input[placeholder] 					{ color: rgba(0, 0, 0, .3); }
.main-search input::-webkit-input-placeholder 		{ color: rgba(0, 0, 0, .3); }
.main-search input::-moz-placeholder 				{ color: rgba(0, 0, 0, .3); }
.main-search input:-moz-placeholder 				{ color: rgba(0, 0, 0, .3); }
.main-search input:-ms-input-placeholder 			{ color: rgba(0, 0, 0, .3); }

.main-search input[placeholder]:hover 					{ color: rgba(0, 0, 0, .6); }
.main-search input:hover::-webkit-input-placeholder		{ color: rgba(0, 0, 0, .6); }
.main-search input:hover::-moz-placeholder 				{ color: rgba(0, 0, 0, .6); }
.main-search input:hover:-moz-placeholder				{ color: rgba(0, 0, 0, .6); }
.main-search input:hover:-ms-input-placeholder			{ color: rgba(0, 0, 0, .6); }

.main-search input[placeholder]:focus 					{ color: rgba(0, 0, 0, 1); }
.main-search input:focus::-webkit-input-placeholder		{ color: rgba(0, 0, 0, 1); }
.main-search input:focus::-moz-placeholder 				{ color: rgba(0, 0, 0, 1); }
.main-search input:focus:-moz-placeholder				{ color: rgba(0, 0, 0, 1); }
.main-search input:focus:-ms-input-placeholder			{ color: rgba(0, 0, 0, 1); }

.main-search label[for="main_search_input"] {
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	left: 4px;
	top: 50%;
	margin-top: -8px;
	background-image: url("../img/icons/search_icon.svg");
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer;
}

.main-search button[type="submit"] {
	margin: 0;
	padding-top: 3.5px;
	padding-bottom: 5.5px;
	padding-left: 18px;
	padding-right: 18px;
	min-width: 85px;
	opacity: 0;

	font-family: "opensanslight", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: .01em;

	color: black;
	border: 2px solid #000000;
	border-radius: 0;
	
	background-color: transparent;
}

.main-search input[type="text"]:focus ~ button[type="submit"] {
	opacity: 1;
}

.main-search button[type="submit"]:hover,
.main-search button[type="submit"]:focus,
.main-search button[type="submit"]:active 
{
	opacity: 1;
	outline: 0;
}

.main-search button[type="submit"]:hover {
	color: #ffffff;
	background-color: #000000;
}

.main-search button[type="submit"]:active  {
	color: rgba(255,255,255, .3);
	background-color: #000000;
}


.site-navigation {
	display: flex;
	align-items: center;
	min-height: 22px;
	flex-wrap: wrap;
}

.site-navigation-item {
	min-height: 21.6px;
	line-height: 21.6px;
	margin-left: 25px;
	margin-right: 25px;
}

.site-navigation-delivery {
	width: 140px;
	margin-left: auto;
	margin-right: 18px;
}

.site-navigation-warranty {
	width: 140px;
	margin-left: 0;
	margin-right: 0;
}

.site-navigation-contacts {
	width: 140px;
	margin-left: 65px;
	margin-right: -.2em;

	text-align: right;
}

.site-navigation-catalog {
	position: relative;
	flex-shrink: 0;
	margin-right: 30px;
	margin-left: 0;
}

.site-navigation-catalog .catalog {
	width: 248px;
	padding-right: 28px;
}

.site-navigation-item > a {
	position: relative;
	z-index: 10;
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: .2em;

	text-transform: uppercase;
}

.catalog-menu {
	display: flex;
	position: absolute;
	z-index: 1;
	flex-wrap: wrap;
	width: 1160px;
	top: 100%;
	left: -59px;
	padding-left: 61px;
	padding-right: 60px;
	padding-top: 20px;
	padding-bottom: 20px;

	visibility: hidden;

	letter-spacing: .01em;
	line-height: 36px;

	background-color: #f7e296;
}

.catalog-menu li {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	margin: 0;
	margin-bottom: 14px;
	padding: 0;
}

.catalog-menu li:not(:last-of-type){
	margin-right: 19px;
}

.catalog-menu li:first-of-type {
	min-width: 220px;
}

.catalog-menu li:nth-of-type(2) {
	min-width: 180px;
}

.catalog-menu li:nth-of-type(3) {
	min-width: 160px;
}

.site-navigation li:hover .catalog-menu,
.site-navigation li:focus .catalog-menu,
.site-navigation .catalog:focus ~ .catalog-menu {
	visibility: visible;
}

.site-navigation a.catalog::before {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -8px;
	width: 16px;
	height: 16px;
	
	background-image: url("../img/icons/catalog_icon.svg");
	opacity: .3;
}

.button {
	display: inline-block;
	position: relative;
	padding-left: 13px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 9px;

	min-width: 260px;
	max-width: 100%;
	min-height: 40px;
	
	z-index: 1;	
	
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: .2em;
	text-align: center;
	color: rgb(0, 0, 0);
	text-transform: uppercase;

	background-color: transparent;
	border: none;
	border-radius: 0;
	outline: 0;
}

.button:hover,
.button:focus {
	cursor: pointer;
}

.button::before{
	display: block;
	position: absolute;
	content: "";
	margin: auto 0;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
	height: 8px;

	transition-property: height;
	transition-duration: 200ms;
	transition-delay: 20ms;
	
	cursor: pointer;
	background-color: #f0c52e;
}

.button:hover::before,
.button:focus::before {
	height: 100%;
}

.button:active {
	color: rgba(0, 0, 0, .3);
	outline: 0;
}

/* ============== INDEX PROMO ============== */

.promo {
	position: relative;
	margin-top: -125px;
	margin-bottom: 94px;
}

.promo input[type="radio"] {
	display: none;
}

.promo-slider-controls,
.promo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.promo-list {
	padding-right: 59px;
}

.promo-slider-controls {
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 78px;
	height: 12px;

	top: 341px;
	right: 83px;
	z-index: 1;
}

.promo-slider-controls li {
	width: 12px;
	margin: 0;
}

.promo-slider-controls label {
	display: block;
	width: 12px;
	height: 12px;

	font-size: 0;
	background-size: contain;
	background-image: url("../img/promo/slider_button_empty.svg");
	background-position: center;
	background-repeat: no-repeat;

	cursor: pointer;
}

.promo-switch-one:checked ~ .promo-slider-controls label[for="promo-1st-switch"],
.promo-switch-two:checked ~ .promo-slider-controls label[for="promo-2nd-switch"],
.promo-switch-three:checked ~ .promo-slider-controls label[for="promo-3rd-switch"] {
	background-image: url("../img/promo/slider_button.svg");
}


.promo-switch-one:checked ~ .promo-list li:nth-of-type(1) {
	display: flex;
}

.promo-switch-two:checked ~ .promo-list li:nth-of-type(2) {
	display: flex;
}

.promo-switch-three:checked ~ .promo-list li:nth-of-type(3) {
	display: flex;
}  

.promo-item {
	position: relative;
	display: none;
	justify-content: space-between;
}

.promo-info {
	position: relative;
	width: 501px;
	padding-top: 94px;
}

.promo-item::before {
	position: absolute;

	font-family: "gilroyextrabold", Arial, sans-serif;
	line-height: 1;
	font-size: 179.2px;
	letter-spacing: .01em;
	
	color: #ffffff; 	
}

.promo-item-monopods::before {
	content:"01";
	right: -13px;
	top: 0;
}

.promo-item-fitbands::before {
	content:"02";
	right: -12px;
	top: 1px;
}

.promo-item-copters::before {
	content:"03";
	right: -11px;
	top: 0;
}

.promo-info::before {
	content: "";
	position: absolute;
	display: block;
	top: 51px;
	left: 0;
	width: 100px;
	height: 7px;
	background-color: #ffffff;
}

.promo-item-image {
	position: relative;
	margin: 0;
	padding: 0;
	width: 560px;
	height: 512px;
}


.promo-item-image img {
	position: absolute;
	display: block;
}

.promo-item-monopods img {
	top: 14px;
	left: 90px;
}

.promo-item-fitbands img {
	top: 26px;
	right: 99px;
}

.promo-item-copters img {
	top: 79px;
	right: 3px;
}

.promo-slogan {
	margin: 0;
	padding: 0;
	margin-bottom: 18px;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 1.2;
	letter-spacing: .01em;
	color: #000000;
}

.promo-desc {
	margin: 0;
	margin-bottom: 43px;
	padding-right: 10px;
	letter-spacing: .01em;
}

.promo-item-fitbands .promo-desc {
	padding-right: 40px;	
}

.promo-item-copters .promo-desc {
	padding-right: 30px;	
}
.button-promo-details {
	min-width: 220px;
	max-width: 380px;
	margin-bottom: 53px;
}

.promo-spec {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	border-collapse: collapse;
	border: 0;
}

.promo-spec td {
	margin: 0;
	padding: 0;
	border: 0;
}

.promo-spec td {
	width: 160px;
}

.promo-spec td:nth-of-type(2) {
	width: 138px;
}

.promo-spec-data td {
	padding-bottom: 9px;
}

.promo-spec-data {
	font-family: "gilroylight", Arial, sans-serif;
	font-size: 36px;
	line-height: 1.2;
	color: #000000;
	letter-spacing: .01em;
}

.promo-spec-keys {
	font-size: 13px;
	line-height: 20px;
	letter-spacing: .01em;
}


/* ============== INDEX CATEGORIES ============== */

.categories-list {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.categories-list li {
	margin-bottom: 41px;
}

.categories-list li:not(:nth-of-type(6n+6)) {
	margin-right: 40px;
}

.categories-list a {
	display: block;
	position: relative;
	padding: 0;
	padding-top: 195px;
	width: 160px;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: .01em;
	color: rgba(0, 0, 0, 1);;
}

.categories-list a:active {
	color: rgba(0, 0, 0, .3);
}

.categories-list a::before {
	display: block;
	position: absolute;
	content: "";
	
	top: 0;
	left: 0;

	width: 160px;
	height: 160px;

	background-color: #f7e296;
	background-position: center;
	background-repeat: no-repeat;
}

.categories-list a::after {
	display: block;
	position: absolute;
	content: "";

	background-position: center;
	background-repeat: no-repeat;
}

a.categories-item-vr::after {
	background-image: url("../img/icons/vr_icon.svg");
	width: 97px;
	height: 55px;
	top: 52px;
	left: 31px;
}

a.categories-item-monopods::after {
	background-image: url("../img/icons/monopods_icon.svg");
	background-position: center bottom;
	width: 86px;
	height: 117px;
	top: 41px;
	left: 38px;
}

a.categories-item-cameras::after {
	background-image: url("../img/icons/cameras_icon.svg");
	width: 71px;
	height: 87px;
	top: 38px;
	left: 49px;}

a.categories-item-fitbands::after {
	background-image: url("../img/icons/fitbands_icon.svg");
	width: 107px;
	height: 65px;
	top: 50px;
	left: 28px;
}

a.categories-item-watches::after {
	background-image: url("../img/icons/watches_icon.svg");
	width: 56px;
	height: 98px;
	top: 32px;
	left: 55px;
}

a.categories-item-copters::after {
	background-image: url("../img/icons/copters_icon.svg");
	width: 132px;
	height: 69px;
	top: 49px;
	left: 13px;
}

.categories-list a:hover::before,
.categories-list a:focus::before,
.categories-list a:active::before {
	background-color: #f0c52e;
}

.categories-list a:active::after {
	opacity: .3;
}


/* ============== INDEX SERVICES ============== */

.services {
	padding-top: 1px; 
	margin-bottom: 94px;
	min-height: 288px;
	padding-top: 144px;
	
	background-color: #e5e5e5;
	background-clip: content-box;
}

.services h3 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 1.2;
	letter-spacing: .01em;
	color: #000000;

	margin: 0;
	margin-bottom: 27px;
	padding: 0;
}

.button-services-controls {
	min-width: 160px;
	text-align: left;
}

.button-services-controls[for="services-delivery"] {
	padding-left: 24px;
	padding-right: 12px;
}

.button-services-controls[for="services-warranty"] {
	padding-left: 24px;
	padding-right: 21px;
}

.button-services-controls[for="services-credit"] {
	padding-left: 37px;
	padding-right: 35px;
}

.services input[type="radio"] {
	display: none;
}

.services-container {
	display: flex;
	justify-content: space-between;
	margin-top: -100px;
	padding-bottom: 69px;
}

.services-delivery-switch:checked ~ .services-controls-list label[for="services-delivery"],
.services-warranty-switch:checked ~ .services-controls-list label[for="services-warranty"],
.services-credit-switch:checked ~ .services-controls-list label[for="services-credit"] {
	color: #f7e184;
	cursor: default;
}

.services-delivery-switch:checked ~ .services-controls-list label[for="services-delivery"]::before,
.services-warranty-switch:checked ~ .services-controls-list label[for="services-warranty"]::before,
.services-credit-switch:checked ~ .services-controls-list label[for="services-credit"]::before  {
	height: 100%;
	background-color: #000000;
	cursor: default;
}

.services-delivery-switch:checked ~ .services-description-list .services-description-item-delivery,
.services-warranty-switch:checked ~ .services-description-list .services-description-item-warranty,
.services-credit-switch:checked ~ .services-description-list .services-description-item-credit {
	display: block;
}

.services-delivery-switch:checked ~ .services-controls-list .services-controls-delivery,
.services-warranty-switch:checked ~ .services-controls-list .services-controls-warranty,
.services-credit-switch:checked ~ .services-controls-list .services-controls-credit {
	background-color: #000000;
}

.services-controls-list,
.services-description-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.services-controls-list {
	width: 284px;
	border-right: 7px solid #000000;
	padding-top: 80px;
	padding-bottom: 46px;
}

.services-controls-item {
	margin-bottom: 24px;
}

.services-controls-warranty {
	margin-bottom: 25px;
}

.services-description-list {
	width: 760px;
	padding-top: 69px;
	padding-bottom: 70px;
}

.services-description-list p {
	margin: 0;
	letter-spacing: .01em;
}

.services-description-item {
	position: relative;
	display: none;
	padding-right: 325px;
}

.services-description-item::before {
	position: absolute;
	display: block;
	content: "";
	background-repeat: no-repeat;
	background-position: 0 0; 
}

.services-description-item-delivery::before {
	width: 136px;
	height: 164px;
	top: 15.5px;
	right: 66px;

	background-image: url("../img/icons/delivery_icon.svg");
}

.services-description-item-warranty::before {
	width: 171px;
	height: 195px;
	top: -8.5px;
	right: 46px;
	
	background-image: url("../img/icons/warranty_icon.svg");
}

.services-description-item-credit::before {
	width: 156px;
	height: 188px;	
	top: -8.5px;
	right: 70px;

	background-image: url("../img/icons/credit_icon.svg");
}

/* ============== INDEX BRANDS ============== */

.brands {
	margin-bottom: 73px;
}

.brands-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.brands-item {
	display: block;
	width: 260px;
	height: 100px;

	background-color: rgba(216,216,216, .2);
}

.brands-list li {
	margin-bottom: 20px;
}

.brands-list li:not(:nth-of-type(4n+4)) {
	margin-right: 40px;
}

.brands-item img {
	display: block;
}

.brands-item img.colored {
	display: none;
}

.brands-item:hover img.greyed,
.brands-item:focus img.greyed {
	display: none;
}

.brands-item:hover img.colored,
.brands-item:focus img.colored {
	display: block;	
}

/* MAIN INFO DIV */

/* ============== INDEX ABOUT-US CONTACTS ============== */


.main-info {
	display: flex;
	justify-content: space-between;
}

.main-info-container {
	position: relative;
	width: 560px;
	padding-top: 48px;
	padding-bottom: 52px;
}

.main-info-container::before {
	display: block;
	position: absolute;
	content: "";
	width: 80px;
	height: 7px;

	top: 0;
	left: 0;

	background-color: black;
}
 
.main-info-container h2 {
	margin: 0;
	margin-bottom: 39px;
	padding: 0;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	letter-spacing: .01em;
	line-height: 1.2;
	color: #000000;
}

.about-us h2 {
	margin-left: -2px;
}

.contacts h2 {
	margin-left: -3px;
}

.main-info-container p {
	margin: 0;
	padding-right: 85px;
}

.about-us p {
	margin-bottom: 30px;
	margin-left: -1px;
}

.contacts p {
	margin-bottom: 39px;
	padding-right: 50px;
	margin-left: -2px;
}

.about-us-list {
	margin: 0;
	padding: 0;
	padding-top: 36px;
	margin-bottom: 54px;

	list-style: none;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 16px;
	line-height: 40px;
	color: #000000;
}

.about-us-list li {
	position: relative;
	padding: 0 35px;
}

.about-us-list li::before {
	display: block;
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	left: 0;
	top: 50%;
	margin-top: -4px;

	border: 2px solid #e5e5e5;
	border-radius: 50%;
}

.contacts-map {
	display: block;
	width: 560px;
	height: 222px;
	margin-bottom: 69px;
}

/* ============== MAIN FOOTER ============== */

.main-footer {
	margin-top: 30px;
	padding: 0;
	padding-top: 65px;
	padding-bottom: 62px;
	min-height: 323px;

	background-color: #464646;
	color: #ffffff;
}

.main-footer.inner-page {
margin-top: 4px;
}

.main-footer svg {
	display: block;
}

.main-footer a {
	color: #ffffff;
}

.main-footer-container {
	display: flex;
	flex-direction: column;
}

.main-footer-top,
.main-footer-middle {
	display: flex;
	justify-content: space-between;
}

.main-footer-top {
	margin-bottom: 29px;
}

.main-footer-middle {
	min-height: 40px;
	margin-bottom: 54px;
}

.main-footer-bottom {
	min-height: 36px;
	display: flex;
	justify-content: space-between;
}


.main-footer-logo {
	margin-left: -1px;
	display: block;
	width: 163px;
	height: 36px;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
	opacity: .6;
}

.main-footer-logo:active {
	opacity: .3;
}

.main-footer-top .right-column {
	display: flex;
	margin-top: -5px;
}

.main-footer-site-navigation,
.main-footer-user-navigation,
.main-footer-goods-actions,
.main-footer-social {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-footer-user-navigation,
.main-footer-goods-actions {
	line-height: 36px;
	letter-spacing: .2em;
}

.main-footer-user-navigation {
	margin-right: 25px;
}

.main-footer-goods-actions {
	display: flex;
	justify-content: space-between;
	width: 212px;
}

.main-footer-goods-actions li:not(:last-of-type) {
	padding-right:10px;
}

.main-footer-user-navigation {
	display: flex;
	width: 260px;
}

.main-footer-user-navigation li {
	padding-right: 19px;
}

.main-footer-user-navigation li:first-of-type {
	margin-left: auto;
}

.main-footer-user-navigation a,
.main-footer-goods-actions a {
	color: rgba(255, 255, 255, .7);
	letter-spacing: .01em;
}

.main-footer-user-login a::before{
	content: "";
	display: inline-block;
	width: 13px;
	height: 12px;
	margin-right: 12px;
	
	background-image: url("../img/icons/user_icon_footer.svg");
	background-repeat: no-repeat;
  	background-position: 0 0;
}

.main-footer-goods-compare a::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	
	background-image: url("../img/icons/compare_icon_footer.svg");
	background-repeat: no-repeat;
  	background-position: 0 0;
}

.main-footer-goods-cart a::before{
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 10px;
	
	background-image: url("../img/icons/cart_icon_footer.svg");
	background-repeat: no-repeat;
  	background-position: 0 0;
}

.main-footer-user-navigation a,
.main-footer-goods-actions a {
	opacity: .7;
}

.main-footer-user-navigation a:hover,
.main-footer-user-navigation a:focus,
.main-footer-goods-actions a:hover,
.main-footer-goods-actions a:focus {
	opacity: 1;
}

.main-footer-user-navigation a:active,
.main-footer-goods-actions a:active {
	opacity: .3;
}

.main-footer-middle p {
	width: 260px;
	margin: 0;
	flex-shrink: 0;
}

.main-footer-middle p.address {
	width: 258px;
}

.main-footer-middle *:last-child {
	text-align: right;
}

.main-footer-site-navigation a:hover,
.main-footer-site-navigation a:focus {
	color: rgba(255, 255, 255, .6);
}

.main-footer-site-navigation a:active {
	color: rgba(255, 255, 255, .3);
}

.main-footer-site-navigation {
	display: flex;
	flex-wrap: wrap;
	padding-top: 8px;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: .2em;
	text-transform: uppercase;
}

.main-footer-site-navigation li {
	margin-right: 15px;
	margin-left: 19px;
}

.main-footer-bottom .right-column {
	width: 80px;
	height: 36px;
	padding-left: 53px;
}

.main-footer-copyright-logo {
	display: block;
	width: 27px;
	height: 35px;
	margin-top: -2px;
}

.main-footer-copyright-logo:hover,
.main-footer-copyright-logo:focus {
	opacity: .6;
}

.main-footer-copyright-logo:active {
	opacity: .3;
}

.main-footer-bottom .right-column {
	display: flex;
}

.main-footer-social {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 248px;
}

.main-footer-social li {
	margin-bottom: 5px;
}

.main-footer-social li:not(:nth-of-type(5n+5)):not(:last-of-type) {
	margin-right: 22px;
}

.main-footer-social a {
	display: block;
	width: 32px;
	height: 32px;

	border-radius: 50%;
	opacity: .3;
}

.main-footer-social a:hover,
.main-footer-social a:focus {
	opacity: .6;
}

.main-footer-social a:active {
	opacity: .1;	
}

.main-footer-bottom::before {
	display: block;
	content: "";
	margin-top: 13px;
	margin-bottom: 12px;
	width: 80px;
	height: 7px;
	background-color: #ffc600;
}
/* ============== MODAL ============== */

@keyframes modal-appear {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(20%);
  }

  90% {
    transform: scale(90%);
  }

  100% {
    transform: scale(100%);
  }
}

@keyframes modal-fail {
  30% {
  	transform: scale(0);
  }
}

.modal {
	display: none;
	position: fixed;
	z-index: 100;
	width: 960px;
	box-shadow: 0 10px 20px 0 rgba(4, 6, 6, .2);
}

.modal-close {
	display: block;
	width: 55px;
	height: 55px;
	
	font-size:0;
	
	outline: 0;
	border: 0;
	border-radius: 50%;
	background-image: url("../img/modal_close.svg");
	background-position: center center;
	background-repeat: no-repeat;
	opacity: .5;

	cursor: pointer;
}

.modal-show {
	display: block;
	animation: modal-appear 800ms;
}

.modal-error {
	animation: modal-fail 1s;
}

.modal-close::before {
  transform: rotate(43.8deg);
}

.modal-close::after {
  transform: rotate(-43.8deg);
} 

.modal-close:hover,
.modal-close:focus {
	opacity: 1;
}

.modal-close:active {
	opacity: .3;
}

/* ============== MODAL WRITE-US ============== */

.modal-write-us {
	padding-top: 96px;
	padding-bottom: 78px;
	padding-left: 100px;
	padding-right: 100px;
	top: 50px;
	left: 50%;
	margin-left: -480px;

	background-color: #ffffff;
}

.modal-write-us::before {
	position: absolute;
	display: block;
	content: "";
	width: 100%;
	height:100%;
	top:0;
	left: 0;
	z-index: -1;

	box-shadow: -65px -18.5px 55px -60px rgba(4, 6, 6, .75),
				 65px -18.5px 55px -60px rgba(4, 6, 6, .75);
}	

.modal-write-us-inputs {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	padding-bottom: 5px;
}

.modal-write-us-name {
	width: 360px;
	margin-right: auto;
}

.modal-write-us-email {
	width: 360px;
}
.modal-write-us-field {
	display: block;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	margin-bottom: 36px;
}

.modal-write-us-field input[type="text"],
.modal-write-us-field input[type="email"],
.modal-write-us-field textarea {
	display: block;

	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 17px;

	font-family: "opensans", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	border: none;
	background-color: rgba(229, 229, 229, .5);
}

.modal-write-us-field input[type="text"],
.modal-write-us-field input[type="email"] {
	width: 360px;
}

.modal-write-us-field textarea {
	width: 760px;
	height: 156px;
	resize: none;
}

.modal-write-us-field input[type="text"]:hover,
.modal-write-us-field input[type="email"]:hover,
.modal-write-us-field textarea:hover {
	background-color: rgba(229, 229, 229, .8);
}

.modal-write-us-field input[type="text"]:focus,
.modal-write-us-field input[type="email"]:focus,
.modal-write-us-field textarea:focus {
	outline: 3px solid #f0c52e;
	background-color: #ffffff;
	color: rgba(70, 70, 70, 1);
}

.modal-write-us-field input:invalid {
	background-color: #f6dada;
} 

.modal-write-us-field input[placeholder] 						{ color: rgba(70, 70, 70, .4); }
.modal-write-us-field input::-webkit-input-placeholder 			{ color: rgba(70, 70, 70, .4); }
.modal-write-us-field input::-moz-placeholder 					{ color: rgba(70, 70, 70, .4); opacity: 1; }
.modal-write-us-field input:-moz-placeholder 					{ color: rgba(70, 70, 70, .4); opacity: 1; }
.modal-write-us-field input:-ms-input-placeholder 				{ color: rgba(70, 70, 70, .4); }

.modal-write-us-field textarea[placeholder] 						{ color: rgba(70, 70, 70, .4); }
.modal-write-us-field textarea::-webkit-input-placeholder 			{ color: rgba(70, 70, 70, .4); }
.modal-write-us-field textarea::-moz-placeholder 					{ color: rgba(70, 70, 70, .4); opacity: 1; }
.modal-write-us-field textarea:-moz-placeholder 					{ color: rgba(70, 70, 70, .4); opacity: 1; }
.modal-write-us-field textarea:-ms-input-placeholder 				{ color: rgba(70, 70, 70, .4); }

.modal-write-us-field input[placeholder]:focus 					{ color: rgba(70, 70, 70, 1); }
.modal-write-us-field input:focus::-webkit-input-placeholder	{ color: rgba(70, 70, 70, 1); }
.modal-write-us-field input:focus::-moz-placeholder 			{ color: rgba(70, 70, 70, 1); }
.modal-write-us-field input:focus:-moz-placeholder				{ color: rgba(70, 70, 70, 1); }
.modal-write-us-field input:focus:-ms-input-placeholder			{ color: rgba(70, 70, 70, 1); }

.modal-write-us-field textarea[placeholder]:focus 					{ color: rgba(70, 70, 70, 1); }
.modal-write-us-field textarea:focus::-webkit-input-placeholder		{ color: rgba(70, 70, 70, 1); }
.modal-write-us-field textarea:focus::-moz-placeholder 				{ color: rgba(70, 70, 70, 1); }
.modal-write-us-field textarea:focus:-moz-placeholder				{ color: rgba(70, 70, 70, 1); }
.modal-write-us-field textarea:focus:-ms-input-placeholder			{ color: rgba(70, 70, 70, 1); }

.button-modal-write-us {
	min-width: 200px;
}

.modal-map {
	height: 559px;
	top: 50%;
	left: 50%;
	margin-left: -480px;
	margin-top: -279.5px;
}

.map-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 960px;
	height: 559px;

	z-index: -1;
}

.modal-close {
	position: absolute;
	top: 22px;
	right: 22px;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++ MONOPODS.HTML ++++++++++++++++++++++++ */

/* ============== MAIN ============== */

.page-title {
	margin: 0;
	margin-bottom: 14px;
	padding: 0;
	padding-left: 59px;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 1.2;
	letter-spacing: .01em;
	color: #000000;

	background-color: #ffffff;
}

.breadcrumbs {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	padding-left: 59px;
	display: flex;
	align-items: baseline;
}

.breadcrumbs li {
	margin: 0;
	padding: 0;
	position: relative;
	padding-right: 37px;
}

.breadcrumbs li:not(:last-of-type)::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	width: 4px;
	height: 8px;
	margin-top: -4px;
	right: 18px;

	background-image: url("../img/nav-arrow.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.breadcrumbs li:nth-of-type(2)::after {
	right: 16px;
}

.breadcrumbs a,
.breadcrumbs-current {
	font-size: 14px;
	line-height: 36px;
	letter-spacing: .01em;
	color: rgba(0, 0, 0, .3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: rgba(0, 0, 0, .6);
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, .1);
}

/* ============== FILTER ============== */

.inner-content {
	display: flex;
}

.filter {
	width: 348px;
	flex-grow: 1;

	background-color: #eeeeee;
}

.filter-header-container {
	display: flex;
	margin-bottom: 69px;

	background-color: rgba(0, 0, 0, .08);
}

.filter-header {
	display: flex;
	width: 200px;
	min-height: 70px;
	margin: 0;
	margin-left: auto;
	margin-right: 68px;
	padding-top: 25px;
	padding-bottom: 26px;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	color: #000000;
	letter-spacing: .2em;
	text-transform: uppercase;
}

.filter-body-container {
	display: flex;
}

.filter-body {
	width: 201px;
	margin-left: auto;
	margin-right: 68px;
	font-size: 14px;
	line-height: 40px;
	color: #000000;
}

.filter-property-container {
	padding-top: 12px;
	margin-bottom: 31px;

	border-top: 2px solid #000000;
}

.filter-body h3 {
	margin: 0;
	margin-bottom: 19px;
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	color: #000000;
	letter-spacing: .01em;
}

.filter-cost {
	padding-bottom: 3px;
}

.filter-cost h3 {
	margin-bottom: 27px;
}

.filter-cost-controls {
	position: relative;
	padding: 9px 0;
	margin-bottom: 2px;
}

.filter-cost-controls .toggle {
	position: absolute;
	content: "";
	top: 0;
	width: 20px;
	height: 20px;
	padding: 0;

	border: 8px solid #ffffff;
	background-color: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(171, 171, 171, .3);
	cursor: pointer;
}

.filter-cost-controls .toggle:active {
	width: 22px;
	height: 22px;
	top: -1px;

	border-width: 9px;
	outline: 0;
}

.filter-cost-controls .toggle-min {
	left: 0;
	margin-left: -5px;
}

.filter-cost-controls .toggle-max {
	left: 110px;
	margin-left: -2px;
}

.filter-cost-controls .toggle-min:active {
	left: -1px;
}

.filter-cost-controls .toggle-max:active {
	left: 109px;
}

.filter-cost-values {
	position: relative;
	height: 22.27px;
	margin-left: 5px;
	
	font-size: 0; 
	line-height: 22.27px; 
}

.filter-cost-values label {
	position: absolute;
	display: inline-block;
	font-family: "gilroylight", Arial, sans-serif;
	font-size: 14px;
	color: rgba(0 ,0 ,0, .2);
}

.filter-cost-values .min-price {
	left: 0;
	margin-left: -5px; 
}

.filter-cost-values .max-price {
	margin-left: -25px; 
	left: 110px; 
}

.filter-cost-values input {
	padding: 0;
	font: inherit;
	color: inherit;
	border: none;
	width: 54px;

	background-color: transparent;
}

.filter-cost .scale {
	margin-left: 5px;
	height: 2px;
	background-color: #dbdbdb;
}

.filter-cost .bar {
  width: 110px;
  height: 2px;

  background: #91c92f;
}

.filter-body input[type="checkbox"]:disabled + span,
.filter-body input[type="radio"]:disabled +span {
	color: rgb(166, 166, 166);
}

.filter-color-list,
.filter-bluetooth-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.filter-color-list input[type="checkbox"] {
	display: none;
}

.filter-color-list label,
.filter-bluetooth-list label {
	display: inline-block;
	position: relative;
	padding-left: 38px;
	letter-spacing: .01em;
}

.filter-color-list label:hover,
.filter-bluetooth-list label:hover,
.filter-color-list label:focus,
.filter-bluetooth-list label:focus {
	cursor: pointer;
}

.filter-color-list label::before {
	display: block;
	position: absolute;
	content: "";

	left: -1px;
	top: 0;
	margin-top: 8px;
	margin-bottom: 9px;

	width: 23px;
	height: 23px;
	background-image: url("../img/filter_checkbox_off.svg");
	background-repeat: no-repeat;
	background-position: center;	
}

.filter-color-list input[type="checkbox"]:checked + label::before {
	width: 27px;
	height: 23px;
	background-image: url("../img/filter_checkbox_on.svg");
}

.filter-bluetooth-list input[type="radio"] {
	display: none;
}

.filter-bluetooth-list label::before {
	display: block;
	position: absolute;
	content: "";

	left: -1px;
	top: 0;
	margin-top: 6px;
	margin-bottom: 9px;

	width: 25px;
	height: 25px;

	border: 4px solid black;
	border-radius: 50%;
}

.filter-bluetooth-list input[type="radio"]:checked + label::after {
	display: block;
	position: absolute;
	content: "";

	left: 7px;
	top: 0;
	margin-top: 14px;
	margin-bottom: 17px;

	width: 9px;
	height: 9px;

	border: 1px solid #000000;
	border-radius: 50%;
	background-color: #000000;
}

.filter-bluetooth-list input[type="radio"]:disabled + label::before,
.filter-bluetooth-list input[type="radio"]:disabled + label::after {
	opacity: .25;
}

.filter-bluetooth-list input[type="radio"]:disabled + label {
	color: #a6a6a6;
}

.filter-color-list label:hover::before,
.filter-bluetooth-list label:hover::before,
.filter-bluetooth-list label:hover::after,
.filter-color-list label:focus::before,
.filter-bluetooth-list label:focus::before,
.filter-bluetooth-list label:focus::after {
	opacity: .6;
	cursor: pointer;
}

.filter-color-list label:active::before,
.filter-bluetooth-list label:active::before,
.filter-bluetooth-list label:active::after {
	opacity: 1;
}

.button-filter-submit {
	margin-left: -2px;
	min-width: 100%;
	max-width: 270px;
}
/* ============== SORT ============== */

.output {
	flex-grow: 1;
	width: 852px;
}

.sort-container {
	background-color: #eeeeee;
}

.sort {
	display: flex;
	width: 832px;
	min-height: 70px;
	padding-left: 72px;
}

.sort h2 {
	margin: 0;
	margin-right: 20px;
	width: 180px;
	
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	padding: 25px 0;
	color: #000000;
	letter-spacing: .2em;
	text-transform: uppercase;
}

.sort-by-option,
.sort-by-order {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.sort-by-option {
	width: 300px;
	padding-top: 18px;
	padding-bottom: 22px;
}

.sort-by-option li:first-of-type {
	margin-right: 29px;
	margin-left: 1px;
}

.sort-by-option li:nth-of-type(2) {
	margin-right: 31px;
}

.sort-by-option li:last-of-type {
	margin-right: auto;
}

.sort-by-option a {
	font-family: "opensans", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, .3);
}

.sort-by-option a:hover,
.sort-by-option a:focus {
	color: rgba(0, 0, 0, .6);
}

.sort-by-option a:active {
	color: rgba(0, 0, 0, 1);
}

a.sort-by-option-current,
a.sort-by-option-current:hover,
a.sort-by-option-current:active,
a.sort-by-option-current:visited {
	color: rgba(0, 0, 0, 1)
}

.sort-by-order {
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	width: 41px;
	height: 70px;
}

.sort-by-order a {
	display: block;
}

.sort-ascending::before,
.sort-descending::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: 5.5px solid #231f20;
	border-top-width: 10px;
	border-bottom-width: 10px;
	border-left-color: transparent;
	border-right-color: transparent;
}

.sort-ascending::before {
	border-top-width: 0;
}

.sort-descending::before {
	border-bottom-width: 0;
}

.sort-by-order a::before {
	opacity: .2;
}

.sort-by-order a:hover::before,
.sort-by-order a:focus::before {
	opacity: .4;
}

.sort-by-order a:active::before {
	opacity: 1;
}

a.sort-by-order-current::before,
a.sort-by-order-current:hover::before,
a.sort-by-order-current:active::before {
	opacity: 1;
}

/* ============== GOODS ============== */
.goods {
	width: 832px;
	padding-left: 72px;
	margin-bottom: 73px;
}

.goods-list,
.pagination-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.goods-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 39px;
	padding-top: 19px;
}

.goods-list li {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

.goods-list li:nth-of-type(odd) {
	margin-right: 40px;
}

.goods-item-title {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	order: 1;
}

.goods-item-title h3 {
	width: 260px;
	margin: 0;
	margin-top: 34px;
}

.goods-item-bar {
	position: relative;
	width: 360px;
	height: 380px;
}

.goods-item-new .goods-item-bar::after {
	position: absolute;
	content: "New";
	text-transform: uppercase;
	display: inline-block;
	top: 28px;
	right: 27px;
	width: 60px;
	height: 60px;
	padding-top: 21px;
	padding-bottom: 22px;


	text-align: center;
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.2; ;
	letter-spacing: .05em;
	color: rgba(0, 0, 0, .2);
	border: 2px solid rgba(0, 0, 0, .1);
	border-radius: 50%;

}
.goods-item-bar:hover {
	cursor: pointer;
}

.goods-item-bar:hover .goods-item-buttons {
	display: flex;
}

.goods-item-buttons {
	display: none;
	position: absolute;
	z-index: 1;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;

	top: 0;
	left: 0;
	
	background-color: rgba(238, 238, 238, .7);
}

.button-add-to-cart {
	min-width: 200px;
	margin-top: 170px;
	margin-bottom: 6px;
}

.button-add-to-comparison {
	padding: 0;
	font-family: "opensans", Arial, sans-serif;
	font-size: 13px;
	line-height: 36px;
	letter-spacing: .01em;
	color: rgba(0, 0, 0, .5);

	border: 0;
	border-radius: 0;
	outline: 0;
	background-color: transparent;
}

.button-add-to-comparison:hover,
.button-add-to-comparison:focus {
	color: rgba(0, 0, 0, 1);
	cursor: pointer;
}

.button-add-to-comparison:active {
	color: rgba(0, 0, 0, .2);
}

.goods-item-name {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	color: #000000;
	letter-spacing: .01em;
}

.goods-item-name a {
	color: #000000;
}

.goods-item-price {
	font-family: "gilroylight", Arial, sans-serif;;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: .01em;
}

.pagination-list {
	display: flex;
	min-height: 70px;
	margin-bottom: 30px;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: .2em;
	text-transform: uppercase;

	background-color: #ebebeb;
}

.pagination-item-prev a,
.pagination-item-next a {
	display: inline-block;
	padding-top: 26px;
	padding-bottom: 25px;
}

.pagination-item-prev {
	min-width: 140px;
	margin-right: auto;
	
}

.pagination-item-prev a {
	padding-left: 30px;
	padding-right: 27px;
}

.pagination-item-next {
	min-width: 140px;
	margin-left: auto;
	text-align: right;
}

.pagination-item-next a {
    padding-left: 32px;
	padding-right: 28px;
}

.pagination-list li:not(:first-of-type):not(:last-of-type) {
	padding-top: 27px;
	padding-bottom: 24px;
}

.pagination-list li:not(:first-of-type):not(:last-of-type):not(:nth-of-type(2)) {
	margin: 0 14px;
}

.pagination-list li:nth-of-type(2) {
	margin-left: 18px;
	margin-right: 14px;
}

.pagination-list a {
	color: rgba(0, 0, 0, .3);
}

.pagination-list a:hover {
	color: rgba(0, 0, 0, .6);
}

.pagination-list a:active {
	color: rgba(0, 0, 0, 1);
}

.pagination-item-prev a,
.pagination-item-prev a:hover,
.pagination-item-next a,
.pagination-item-next a:hover,
.pagination-item-current a,
.pagination-item-current a:hover{
	color: rgba(0, 0, 0, 1);
}

.pagination-item-prev a:active,
.pagination-item-next a:active,
.pagination-item-current a:active{
	color: rgba(0, 0, 0, .3);
}

.pagination-item-prev a:hover,
.pagination-item-prev a:active,
.pagination-item-next a:hover,
.pagination-item-next a:active {
	background-color: rgba(0, 0, 0, .08);
}
