/* ============== FONTS ============== */

@font-face {
    font-family: "gilroylight";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "gilroyextrabold";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "opensans";
    src: url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "opensanslight";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

/* ============== GENERAL ============== */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}


body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	
	font-family: "opensanslight", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #464646;

	background-color: #ffffff;

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px red;*/
	/* -------------------------- */
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.wrapper {
	margin: 0 auto;
	padding: 0 20px;
	width: 1200px;
	
	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px green;*/
	/* -------------------------- */	
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============== HEADER ============== */

.main-header {
	padding-top: 40px;

	line-height: 36px;
	letter-spacing: .01em;
	color: #000000;	
}

.main-navigation {
	padding-top: 1px; /* this is necessary for negative margin of header logo to take effect */
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 164px;

	background-color: #f7e296;
}

.main-navigation.inner-page {
	padding-bottom: 51px;
}

.main-header-logo {
	display: block;
	margin-bottom: 17px;
	margin-top: -20px;
	margin-left: -1px;
	width: 164px;
	height: 36px;
}

.main-navigation .wrapper-top {
	display: flex;
	align-items: baseline;
	margin-bottom: 30px;

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px white;*/
	/* -------------------------- */
}


.main-navigation a {
	color: #000000;
}

.main-navigation a:hover,
.main-header-logo:hover img {
	opacity: .6;
}

.main-navigation a:active,
.main-header-logo:active img {
	opacity: .3;
}

.site-navigation,
.user-navigation,
.goods-actions,
.catalog-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}


.user-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 260px;

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px blue;*/
	/* -------------------------- */
}

.user-navigation li {
	padding-right: 20px;
}

.user-login a:before,
.user-profile a:before {
	content: "";
	display: inline-block;
	width: 13px;
	height: 12px;
	margin-right: 14px;
	
	background-image: url("../img/icons/user_icon.svg");
	background-repeat: no-repeat;
  	background-position: 0 0;
}

.user-logout a {
	color: rgba(0, 0, 0, .3);
}

.goods-actions {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 220px;
	margin-left: auto;
	padding-left: 7px;

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px blue;*/
	/* -------------------------- */
}

.goods-actions li {
	/*min-width: 100px;*/
	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px brown;*/
	/* -------------------------- */
}

.goods-actions li:not(:last-of-type) {
	padding-right:10px;
}

.goods-cart {
	text-align: right;
}

.goods-cart a::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 12px;
	
	background-image: url("../img/icons/cart_icon.svg");
	background-repeat: no-repeat;
  	background-position: 0 0;
}

.goods-compare a::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	
	background-image: url("../img/icons/compare_icon.svg");
	background-repeat: no-repeat;
  	background-position: 0 0;
}

.main-search {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	
	width: 500px;
	margin-right: 40px;

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px blue;*/
	/* -------------------------- */
}

.main-search input[type="text"] {
	display: block;
	margin: 0;
	padding-right: 0;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	padding-left: 40px;

	width: 355px;

	font-family: "opensanslight", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: .01em;
	color: rgba(0, 0, 0, .1);

	border: 0;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	
	background-color: transparent;
}


.main-search input[type="text"]:focus {
	border-bottom: 2px solid #000000;
	color: rgb(0, 0, 0);
	outline: none;
}

.main-search input[placeholder] { 
	font-family: "opensanslight", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: .01em;
	color: rgba(0, 0, 0, .3);
}
.main-search input::-webkit-input-placeholder {  
	font-family: "opensanslight", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: .01em;
	color: rgba(0, 0, 0, .3);
}
.main-search input::-moz-placeholder { 
	font-family: "opensanslight", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: .01em;
	color: rgba(0, 0, 0, .3);
}
.main-search input:-moz-placeholder {  
	font-family: "opensanslight", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: .01em;
	color: rgba(0, 0, 0, .3);
}
.main-search input:-ms-input-placeholder { 	 
	font-family: "opensanslight", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: .01em;
	color: rgba(0, 0, 0, .3);
}

.main-search input[placeholder]:hover 					{ color: rgba(0, 0, 0, .6); }
.main-search input:hover::-webkit-input-placeholder		{ color: rgba(0, 0, 0, .6); }
.main-search input:hover::-moz-placeholder 				{ color: rgba(0, 0, 0, .6); }
.main-search input:hover:-moz-placeholder				{ color: rgba(0, 0, 0, .6); }
.main-search input:hover:-ms-input-placeholder			{ color: rgba(0, 0, 0, .6); }

.main-search input[placeholder]:focus 					{ color: rgba(0, 0, 0, 1); }
.main-search input:focus::-webkit-input-placeholder		{ color: rgba(0, 0, 0, 1); }
.main-search input:focus::-moz-placeholder 				{ color: rgba(0, 0, 0, 1); }
.main-search input:focus:-moz-placeholder				{ color: rgba(0, 0, 0, 1); }
.main-search input:focus:-ms-input-placeholder			{ color: rgba(0, 0, 0, 1); }

.main-search label[for="main_search_input"] {
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	left: 4px;
	top: 50%;
	margin-top: -8px;
	background-image: url("../img/icons/search_icon.svg");
	background-repeat: no-repeat;
	background-position: left center;
	cursor: pointer;
}

.main-search button[type="submit"] {
	margin: 0;
	padding: 4.5px 20px;
	min-width: 85px;
	opacity: 0;

	font-family: "opensanslight", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: .01em;

	color: black;
	border: 2px solid #000000;
	border-radius: 0;
	
	background-color: transparent;
}

.main-search input[type="text"]:focus ~ button[type="submit"] {
	opacity: 1;
}

.main-search button[type="submit"]:hover,
.main-search button[type="submit"]:focus,
.main-search button[type="submit"]:active 
{
	opacity: 1;
	outline: 0;
}

.main-search button[type="submit"]:hover {
	color: #ffffff;
	background-color: #000000;
}

.main-search button[type="submit"]:active  {
	color: rgba(255,255,255, .3);
	background-color: #000000;
}


.site-navigation {
	display: flex;
	align-items: center;
	min-height: 22px;
	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px white;*/
	/* -------------------------- */
}

.site-navigation-item {
	min-height: 21.6px;
	line-height: 21.6px;
	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px blue;*/
	/* -------------------------- */
}


/* --- TEMPORARY FOR GRID --- */
/*.site-navigation-item a {
	background-color: rgba(0, 0, 255, .2);
	box-shadow: inset 0 0 0 1px;	
}*/
/* -------------------------- */

.site-navigation-item > a {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: .2em;

	text-transform: uppercase;
}

.site-navigation-delivery {
	width: 140px;
	margin-right: 19px;
	margin-left: auto;
}

.site-navigation-warranty {
	width: 140px;
}

.site-navigation-contacts {
	width: 140px;
	margin-left: 61px;
	text-align: right;
	margin-right: -.2em;
}

.site-navigation-catalog {
	margin-right: 240px;
	position: relative;
}

.site-navigation-catalog .catalog {
	position: relative;
	width: 248px;
	padding-right: 29px;
}

.catalog-menu {
	display: flex;
	z-index: 1;
	position: absolute;
	width: 1160px;
	top: 100%;
	left: -60px;
	padding: 0 60px;
	padding-top: 22px;
	padding-bottom: 34px;

	visibility: hidden;

	letter-spacing: .01em;
	line-height: 36px;

	background-color: #f7e296;
	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px;*/
	/*background-color: rgba(0, 0, 0, .1);*/
	/* -------------------------- */
}

.catalog-menu li {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.catalog-menu li:not(:last-of-type){
	margin-right: 20px;
}

.catalog-menu li:first-of-type {
	min-width: 220px;
}

.catalog-menu li:nth-of-type(2) {
	min-width: 180px;
}

.catalog-menu li:nth-of-type(3) {
	min-width: 160px;
}

.site-navigation li:hover .catalog-menu,
.site-navigation li:focus .catalog-menu,
.site-navigation .catalog:focus ~ .catalog-menu {
	visibility: visible;
}

/* вариант с двумя блоками под 90 градусов не проканал, прозрачность при пересечении дает другой цвет */

.site-navigation a.catalog::before {
	/*content: url("data:image/svg+xml; utf8, <svg enable-background='new 0 0 16 16' version='1.1' viewBox='0 0 16 16' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'><polygon points='16 7 9 7 9 0 7 0 7 7 0 7 0 9 7 9 7 16 9 16 9 9 16 9' fill='#272525'/></svg>");*/
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -8px;
	width: 16px;
	height: 16px;
	
	background-image: url("../img/icons/catalog_icon.svg");
	opacity: .3;
}

/*.site-navigation a.catalog::after {
	transform: rotate(90deg);
}*/


/* 2 варианта для стилей кнопок - флекс и инлайн-блоки */
.button {
	/* вариант на флексах */
	
	/*display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px;*/
	/* ------------------------ */

	/* вариант на инлайн блоках */

	display: inline-block;
	text-align: center;
	padding: 9px 10px;
	/* ------------------------ */

	position: relative;
	min-width: 260px;
	max-width: 100%;
	min-height: 40px;
	
	z-index: 1;	
	
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: .2em;

	color: rgb(0, 0, 0);
	text-transform: uppercase;

	background-color: transparent;
	border: none;
	border-radius: 0;
	outline: 0;
}

.button:hover,
.button:focus {
	cursor: pointer;
}

.button::before{
	display: block;
	position: absolute;
	content: "";
	margin: auto 0;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
	height: 8px;

	cursor: pointer;
	background-color: #f0c52e;
}

.button:hover::before,
.button:focus::before {
	height: 100%;
}

.button:active {
	color: rgba(0, 0, 0, .3);
	outline: 0;
}

/* ============== INDEX PROMO ============== */

.promo {
	position: relative;
	margin-top: -126px;
	margin-bottom: 95px;
	letter-spacing: .01em;
}

.promo input[type="radio"] {
	display: none;
}

.promo-slider-controls,
.promo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.promo-list {
	padding-right: 60px;
}

.promo-slider-controls {
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 78px;
	height: 12px;

	top: 342px;
	right: 83px;
	z-index: 1;
	
	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px blue;*/
	/* -------------------------- */
}

.promo-slider-controls li {
	display: inline-block;	
	width: 12px;
	margin: 0;

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px red;*/
	/* -------------------------- */
}

/* нарисовал окружности в css, просто ужас! на маленьких размерах да при масштабировании
ездят вправо влево так-сяк и наперекосяк, меняют форму. Оставляю стили тут, но ввыбираю svg
картинки */

/*

.promo-slider-controls label {
	position: relative;
	display: block;
	width: 12px;
	height: 12px;

	font-size: 0;
	border: 1px solid #000000;
	border-radius: 50%;

	cursor: pointer;
}

.promo-switch-one:checked ~ .promo-slider-controls label[for="promo-1st-switch"]::before,
.promo-switch-two:checked ~ .promo-slider-controls label[for="promo-2nd-switch"]::before,
.promo-switch-three:checked ~ .promo-slider-controls label[for="promo-3rd-switch"]::before {
	position: absolute;
	content: "";

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	width: 4.5px;
	height: 4.5px;
	border: 1px solid #000000;
	border-radius: 50%;
}

*/


.promo-slider-controls label {
	display: block;
	width: 12px;
	height: 12px;

	font-size: 0;
	background-size: contain;
	background-image: url("../img/promo/slider_button_empty.svg");
	background-position: center;
	background-repeat: no-repeat;

	cursor: pointer;
}

.promo-switch-one:checked ~ .promo-slider-controls label[for="promo-1st-switch"],
.promo-switch-two:checked ~ .promo-slider-controls label[for="promo-2nd-switch"],
.promo-switch-three:checked ~ .promo-slider-controls label[for="promo-3rd-switch"] {
	background-image: url("../img/promo/slider_button.svg");
}


.promo-switch-one:checked ~ .promo-list li:nth-of-type(1) {
	display: flex;
}

.promo-switch-two:checked ~ .promo-list li:nth-of-type(2) {
	display: flex;
}

.promo-switch-three:checked ~ .promo-list li:nth-of-type(3) {
	display: flex;
}  

.promo-item {
	position: relative;
	display: none;
	justify-content: space-between;

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px purple;*/
	/* -------------------------- */
}

.promo-info {
	position: relative;
	width: 500px;
	padding-top: 94px;
}


/* Циферка с номером слайда, вынес в декоративный псевдо-элемент */
.promo-item::before {
	position: absolute;
	right: -12px;
	top: 0;

	font-family: "gilroyextrabold", Arial, sans-serif;
	line-height: 1;
	font-size: 179.2px;
	
	color: #ffffff; 	
}

.promo-item:nth-of-type(1)::before {
	content:"01";
}

.promo-item:nth-of-type(2)::before {
	content:"02";
}

.promo-item:nth-of-type(3)::before {
	content:"03";
}

.promo-info::before {
	content: "";
	position: absolute;
	display: block;
	top: 51px;
	left: 0;
	width: 100px;
	height: 7px;
	background-color: #ffffff;
}

/* Дефолты для контейнера промо картинок */

.promo-item-image {
	position: relative;
	margin: 0;
	padding: 0;
	width: 560px;
	height: 512px;

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px;*/
	/*background-color: rgb(0, 255, 0);*/
	/* -------------------------- */
}


.promo-item-image img {
	position: absolute;
	display: block;
	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px;*/
	/* -------------------------- */
}

.promo-item-monopods img {
	top: 15px;
	left: 50%;
	transform: translate(-50%);
}

.promo-item-fitbands img {
	top: 27px;
	right: 100px;
}

.promo-item-copters img {
	top: 80px;
	right: 3px;
}

.promo-slogan {
	margin: 0;
	padding: 0;
	margin-bottom: 17px;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 1.2;
	color: #000000;
}

.promo-desc {
	margin: 0;
	padding: 0;
	margin-bottom: 41px;
}

.button-promo-details {
	min-width: 220px;
	max-width: 380px;
	margin-bottom: 48px;
}

.promo-spec {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	border-collapse: collapse;
	border: 0;
}

.promo-spec td {
	margin: 0;
	padding: 0;
	border: 0;
}

.promo-spec td:not(:last-of-type) {
	padding-right: 80px;
}

.promo-spec-data td {
	padding-bottom: 14px;
}

.promo-spec-data {
	font-family: "gilroylight", Arial, sans-serif;
	font-size: 36px;
	line-height: 1.2;
	color: #000000;
}

.promo-spec-keys {
	font-size: 13px;
	line-height: 20px;
}


/* ============== INDEX CATEGORIES ============== */

.categories {
	margin-bottom: 185px;
}

.categories-list {
	display: flex;
	justify-content: space-between;

	margin: 0;
	padding: 0;
	padding-top: 200px;

	list-style: none;
}

.categories-list a {
	display: block;
	position: relative;
	padding: 0;
	width: 160px;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: .01em;
	color: rgba(0, 0, 0, 1);;
}

.categories-list a:active {
	color: rgba(0, 0, 0, .3);
}

.categories-list a::before {
	display: block;
	position: absolute;
	top: -200px;
	left: 0;
	content: "";

	width: 160px;
	height: 160px;

	background-color: #f7e296;
	background-position: center;
	background-repeat: no-repeat;
}

.categories-list a::after {
	display: block;
	position: absolute;
	top: -200px;
	left: 0;
	display: block;
	content: "";

	width: 160px;
	height: 160px;

	background-position: center;
	background-repeat: no-repeat;
}

.categories-list a:hover::before,
.categories-list a:focus::before,
.categories-list a:active::before {
	background-color: #f0c52e;
}

.categories-list a:active::after {
	opacity: .3;
}

a.categories-item-vr::after {
	background-image: url("../img/icons/vr_icon.svg");
}

a.categories-item-monopods::after {
	/* TODO: поразмыслить как паддингом можно сделать перевод строки без неразравного пробела, не ломая сетку */
	background-image: url("../img/icons/monopods_icon.svg");
	background-position: center bottom;
}

a.categories-item-cameras::after {
	background-image: url("../img/icons/cameras_icon.svg");
}

a.categories-item-fitbands::after {
	background-image: url("../img/icons/fitbands_icon.svg");
}

a.categories-item-watches::after {
	background-image: url("../img/icons/watches_icon.svg");
}

a.categories-item-copters::after {
	background-image: url("../img/icons/copters_icon.svg");
}

/* ============== INDEX SERVICES ============== */

.services {
	padding-top: 1px; /* this is a dirty hack for negative margin purposes, until I sort a gradient usage out */
	margin-bottom: 94px;
	min-height: 288px;

	letter-spacing: .01em;
	background-color: #e5e5e5;
	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px orange;*/
	/* -------------------------- */
}

.services h3 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 1.2;
	color: #000000;

	margin: 0;
	margin-bottom: 30px;
	padding: 0;
}

.button-services-controls {
	min-width: 160px;
}

.services input[type="radio"] {
	display: none;
}

.services-container {
	display: flex;
	justify-content: space-between;
	margin-top: -101px; /* 1 extra pixel is because of 1px padding for .services. see comments there  */

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px purple;*/
	/* -------------------------- */
}

.services-delivery-switch:checked ~ .services-controls-list label[for="services-delivery"],
.services-warranty-switch:checked ~ .services-controls-list label[for="services-warranty"],
.services-credit-switch:checked ~ .services-controls-list label[for="services-credit"] {
	color: #f7e184;
}

.services-delivery-switch:checked ~ .services-controls-list label[for="services-delivery"]::before,
.services-warranty-switch:checked ~ .services-controls-list label[for="services-warranty"]::before,
.services-credit-switch:checked ~ .services-controls-list label[for="services-credit"]::before  {
	background-color: #000000;
	height: 100%;
}

.services-delivery-switch:checked ~ .services-decription-list .services-decription-item-delivery,
.services-warranty-switch:checked ~ .services-decription-list .services-decription-item-warranty,
.services-credit-switch:checked ~ .services-decription-list .services-decription-item-credit {
	display: block;
}

.services-delivery-switch:checked ~ .services-controls-list .services-controls-delivery,
.services-warranty-switch:checked ~ .services-controls-list .services-controls-warranty,
.services-credit-switch:checked ~ .services-controls-list .services-controls-credit {
	background-color: #000000;
}

.services-controls-list,
.services-decription-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.services-controls-list {
	width: 316px;
	border-right: 7px solid #000000;
	padding-top: 80px;
	padding-bottom: 70px;
}

.services-controls-list li:not(:last-of-type) {
	margin-bottom: 24px;
}

.services-decription-list {
	width: 760px;
	padding-top: 69px;
	padding-bottom: 70px;
}

.services-decription-list p {
	margin: 0;
	padding: 0;
}

.services-decription-item {
	position: relative;
	display: none;
	padding-right: 325px;

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px purple;*/
	/* -------------------------- */
}

.services-decription-item::before {
	position: absolute;
	display: block;
	content: "";
	background-repeat: no-repeat;
	background-position: 0 0; 
}

.services-decription-item-delivery::before {
	width: 136px;
	height: 164px;
	top: 15.5px;
	right: 66px;

	background-image: url("../img/icons/delivery_icon.svg");
}

.services-decription-item-warranty::before {
	width: 171px;
	height: 195px;
	top: -8.5px;
	right: 46px;
	
	background-image: url("../img/icons/warranty_icon.svg");
}

.services-decription-item-credit::before {
	width: 156px;
	height: 188px;	
	top: -8.5px;
	right: 70px;

	background-image: url("../img/icons/credit_icon.svg");
}

/* ============== INDEX BRANDS ============== */

.brands {
	margin-bottom: 93px;
}

.brands-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	
	list-style: none;

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px blue;*/
	/* -------------------------- */

}

.brands-item {
	display: block;
	width: 260px;
	height: 100px;

	/* на случай если картинка не подгрузится */
	background-color: rgba(216,216,216, .2);
}

.brands-item img {
	display: block;

	/* --- TEMPORARY FOR GRID --- */
	/*outline: 1px solid red;
	outline-offset: -1px;*/
	/* -------------------------- */
}


.brands-item img.colored {
	display: none;
}

.brands-item:hover img.greyed,
.brands-item:focus img.greyed {
	display: none;
}

.brands-item:hover img.colored,
.brands-item:focus img.colored {
	display: block;	
}

/* MAIN INFO DIV */

/* ============== INDEX ABOUT-US CONTACTS ============== */


.main-info {
	display: flex;
	justify-content: space-between;
}

/*.about-us,
.contacts*/
.main-info-container {
	position: relative;
	width: 560px;
	padding-top: 53px;
	padding-bottom: 52px;

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px purple;*/
	/* -------------------------- */
}

/*.about-us::before,
.contacts::before*/ 
.main-info-container::before {
	display: block;
	position: absolute;
	content: "";
	width: 80px;
	height: 7px;

	top: 0;
	left: 0;

	background-color: black;
}


/*.about-us h2,
.contacts h2*/ 
.main-info-container h2 {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	letter-spacing: .01em;
	line-height: 1.2;
	color: #000000;

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px;*/
	/* -------------------------- */

}

/*.about-us p,
.contacts p*/
.main-info-container p {
	margin: 0;
	margin-bottom: 37px;
	/*padding: 0;*/
	padding-right: 85px;
	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px;*/
	/* -------------------------- */
}

.about-us-list {
	margin: 0;
	padding: 0;
	padding-top: 20px;
	margin-bottom: 54px;

	list-style: none;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 16px;
	line-height: 40px;
	color: #000000;

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px;*/
	/* -------------------------- */
}

.about-us-list li {
	position: relative;
	padding: 0 35px;
}

.about-us-list li::before {
	display: block;
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	left: 0;
	top: 50%;
	margin-top: -4px;

	border: 2px solid #e5e5e5;
	border-radius: 50%;
}

.contacts-map {
	display: block;
	width: 560px;
	height: 222px;
	margin-bottom: 69px;
}

/* ============== MAIN FOOTER ============== */

.main-footer {
	margin-top: 30px;
	padding-bottom: 65px;
	min-height: 323px;

	background-color: #464646;
	color: #ffffff;
}

.main-footer a {
	color: #ffffff;
}

.main-footer-container {
	padding-top: 65px;
	display: flex;
	flex-direction: column;
}

.main-footer-top,
.main-footer-middle {
	display: flex;
	justify-content: space-between;
	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px orange;*/
	/* -------------------------- */
}

.main-footer-top {
	margin-bottom: 30px;
}

.main-footer-middle {
	min-height: 40px;
	margin-bottom: 58px;
}

.main-footer-bottom {
	min-height: 36px;
	display: flex;
	justify-content: space-between;
	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px orange;*/
	/* -------------------------- */
}


.main-footer-logo {
	margin-left: -1px; /* Логотип по макету на 1 полупрозрачный пиксель вылезает слева */
	display: block;
	width: 163px;
	height: 36px;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
	opacity: .6;
}

.main-footer-logo:active {
	opacity: .3;
}

.main-footer-top .right-column {
	display: flex;
	margin-top: -5px;
}

.main-footer-site-navigation,
.main-footer-user-navigation,
.main-footer-goods-actions,
.main-footer-social {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-footer-user-navigation,
.main-footer-goods-actions {
	line-height: 36px;
	letter-spacing: .2em;
	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px green;*/
	/* -------------------------- */
}
.main-footer-user-navigation {
	margin-right: 24px;
}

.main-footer-goods-actions {
	display: flex;
	justify-content: space-between;
	width: 212px;
}

.main-footer-goods-actions li:not(:last-of-type) {
	padding-right:10px;
}

.main-footer-user-navigation {
	display: flex;
	width: 260px;
}

.main-footer-user-navigation li {
	padding-right: 20px;
}

.main-footer-user-navigation li:first-of-type {
	margin-left: auto;
}

.main-footer-user-navigation a,
.main-footer-goods-actions a {
	color: rgba(255, 255, 255, .7);
	letter-spacing: .01em;
}

.main-footer-user-login a::before{
	content: "";
	display: inline-block;
	width: 13px;
	height: 12px;
	margin-right: 14px;
	
	background-image: url("../img/icons/user_icon_footer.svg");
	background-repeat: no-repeat;
  	background-position: 0 0;
}

.main-footer-goods-compare a::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	
	background-image: url("../img/icons/compare_icon_footer.svg");
	background-repeat: no-repeat;
  	background-position: 0 0;
}

.main-footer-goods-cart a::before{
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 12px;
	
	background-image: url("../img/icons/cart_icon_footer.svg");
	background-repeat: no-repeat;
  	background-position: 0 0;
}

.main-footer-user-navigation a,
.main-footer-goods-actions a {
	opacity: .7;
}

.main-footer-user-navigation a:hover,
.main-footer-user-navigation a:focus,
.main-footer-goods-actions a:hover,
.main-footer-goods-actions a:focus {
	opacity: 1;
}

.main-footer-user-navigation a:active,
.main-footer-goods-actions a:active {
	opacity: .3;
}

.main-footer-middle p {
	width: 260px;
	margin: 0;
	/* --- TEMPORARY FOR GRID --- */
	/*background-color: rgba(255, 0, 0, .2);*/
	/* -------------------------- */
}

.main-footer-middle *:last-child {
	text-align: right;
}

.main-footer-site-navigation a:hover,
.main-footer-site-navigation a:focus {
	color: rgba(255, 255, 255, .6);
}

.main-footer-site-navigation a:active {
	color: rgba(255, 255, 255, .3);
}

.main-footer-site-navigation {
	display: flex;
	justify-content: space-around;
	width: 461px;
	padding-top: 7px;
	
	/* --- TEMPORARY FOR GRID --- */
	/*background-color: rgba(255, 0, 0, .2);*/
	/* -------------------------- */
}

.main-footer-site-navigation {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: .2em;
	text-transform: uppercase;
}

.main-footer-bottom .right-column {
	width: 80px;
	height: 36px;
	padding-left: 53px;
}

.main-footer-copyright-logo:hover {
	opacity: .6;
}

.main-footer-copyright-logo:active {
	opacity: .3;
}

.main-footer-bottom .right-column {
	display: flex;
}

.main-footer-social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 140px;
}

.main-footer-social a {
	display: block;
	width: 32px;
	height: 32px;

	border-radius: 50%;
	opacity: .3;
}

.main-footer-social a:hover,
.main-footer-social a:focus {
	opacity: .6;
}

.main-footer-social a:active {
	opacity: .1;	
}

.main-footer-bottom::before {
	display: block;
	content: "";
	margin-top: 15px;
	margin-bottom: 14px;
	width: 80px;
	height: 8px;
	background-color: #ffc600;
}
/* ============== MODAL ============== */


/* вариант на svg */

/*.modal-close {
	display: block;
	width: 55px;
	height: 55px;
	
	font-size:0;
	
	outline: 0;
	border: 0;
	border-radius: 50%;
	background-image: url("../img/modal_close.svg");
	background-position: center center;
	background-repeat: no-repeat;
	opacity: .5;
	
	box-sizing: border-box;
	cursor: pointer;
}*/
/* ----------------------------------------*/

/* вариант на css */

.modal-close {
	display: block;
	position: relative;
	width: 55px;
	height: 55px;

	font-size:0; /*!!переделать*/
	border: 0;
	outline: 0;
	opacity: .5;
	cursor: pointer; 
	background-color: #f0c52e;
	border-radius: 50%;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1px;
  background-color: white;
}

.modal-close::before {
  transform: rotate(43.8deg);
}

.modal-close::after {
  transform: rotate(-43.8deg);
} 
/* ----------------------------------------*/

.modal-close:hover,
.modal-close:focus {
	opacity: 1;
}

.modal-close:active {
	opacity: .3;
}

/* ============== MODAL WRITE-US ============== */

.modal-write-us-field {
	display: block;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
}

.modal-write-us-field input[type="text"],
.modal-write-us-field input[type="email"],
.modal-write-us-field textarea {
	padding: 18px 19px;

	font-family: "opensans", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	border: none;
	background-color: rgba(229, 229, 229, .5);
}

.modal-write-us-field input[type="text"],
.modal-write-us-field input[type="email"] {
	width: 360px;
	padding-bottom: 18px;
}

.modal-write-us-field textarea {
	width: 760px;
	height: 156px;
	resize: none;
}

.modal-write-us-field input[type="text"]:hover,
.modal-write-us-field input[type="email"]:hover,
.modal-write-us-field textarea:hover {
	background-color: rgba(229, 229, 229, .8);
}

.modal-write-us-field input[type="text"]:focus,
.modal-write-us-field input[type="email"]:focus,
.modal-write-us-field textarea:focus {
	outline: 3px solid #f0c52e;
	background-color: #ffffff;
	color: rgba(70, 70, 70, 1);
}

.modal-write-us-field input:invalid {
	background-color: #f6dada;
} 

.modal-write-us-field input[placeholder] 						{ color: rgba(70, 70, 70, .4); }
.modal-write-us-field input::-webkit-input-placeholder 			{ color: rgba(70, 70, 70, .4); }
.modal-write-us-field input::-moz-placeholder 					{ color: rgba(70, 70, 70, .4); opacity: 1; }
.modal-write-us-field input:-moz-placeholder 					{ color: rgba(70, 70, 70, .4); opacity: 1; }
.modal-write-us-field input:-ms-input-placeholder 				{ color: rgba(70, 70, 70, .4); }

.modal-write-us-field textarea[placeholder] 						{ color: rgba(70, 70, 70, .4); }
.modal-write-us-field textarea::-webkit-input-placeholder 			{ color: rgba(70, 70, 70, .4); }
.modal-write-us-field textarea::-moz-placeholder 					{ color: rgba(70, 70, 70, .4); opacity: 1; }
.modal-write-us-field textarea:-moz-placeholder 					{ color: rgba(70, 70, 70, .4); opacity: 1; }
.modal-write-us-field textarea:-ms-input-placeholder 				{ color: rgba(70, 70, 70, .4); }

.modal-write-us-field input[placeholder]:focus 					{ color: rgba(70, 70, 70, 1); }
.modal-write-us-field input:focus::-webkit-input-placeholder	{ color: rgba(70, 70, 70, 1); }
.modal-write-us-field input:focus::-moz-placeholder 			{ color: rgba(70, 70, 70, 1); }
.modal-write-us-field input:focus:-moz-placeholder				{ color: rgba(70, 70, 70, 1); }
.modal-write-us-field input:focus:-ms-input-placeholder			{ color: rgba(70, 70, 70, 1); }

.modal-write-us-field textarea[placeholder]:focus 					{ color: rgba(70, 70, 70, 1); }
.modal-write-us-field textarea:focus::-webkit-input-placeholder	{ color: rgba(70, 70, 70, 1); }
.modal-write-us-field textarea:focus::-moz-placeholder 			{ color: rgba(70, 70, 70, 1); }
.modal-write-us-field textarea:focus:-moz-placeholder				{ color: rgba(70, 70, 70, 1); }
.modal-write-us-field textarea:focus:-ms-input-placeholder			{ color: rgba(70, 70, 70, 1); }


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++ MONOPODS.HTML ++++++++++++++++++++++++ */

/* ============== MAIN ============== */

.page-title {
	margin: 0;
	margin-bottom: 14px;
	padding: 0;
	padding-top: 32px;
	padding-left: 60px;
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 1.2;
	letter-spacing: .01em;
	color: #000000;

	background-color: #ffffff;
}

.breadcrumbs {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	padding-left: 60px;
	display: flex;
	align-items: baseline;
	box-sizing: border-box;
}

.breadcrumbs a {
	padding-right: 39px;
}

.breadcrumbs li {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.breadcrumbs a {
	position: relative;
	box-sizing: border-box;
}
.breadcrumbs a::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	width: 4px;
	height: 8px;
	margin-top: -4px;

	background-image: url("../img/nav-arrow.svg");
	background-position: center;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

.breadcrumbs li:first-of-type a::after {
	right: 19px;
}

.breadcrumbs li:nth-of-type(2) a::after {
	right: 17px;
}


.breadcrumbs a,
.breadcrumbs-current {
	font-size: 14px;
	line-height: 36px;
	letter-spacing: .01em;
	color: rgba(0, 0, 0, .3);
}

.breadcrumbs a:hover {
	color: rgba(0, 0, 0, .6);
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, .1);
}
/* ============== FILTER ============== */

.inner-content {
	display: flex;
}

.filter {
	width: 348px;
	flex-grow: 1;
	align-items: flex-end;
	background-color: #eeeeee;
}

.filter-header-container {
	display: flex;
	margin-bottom: 70px;

	background-color: rgba(0, 0, 0, .08);
}

.filter-header {
	display: flex;
	align-items: center;
	margin: 0;
	margin-left: auto;
	margin-right: 68px;
	width: 200px;
	min-height: 70px;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	color: #000000;
	letter-spacing: .2em;
	text-transform: uppercase;

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px;*/
	/*background-color: rgba(255, 0, 0, .2);*/
	/* -------------------------- */
}

.filter-body-container {
	display: flex;
}

.filter-body {
	width: 201px;
	margin-left: auto;
	margin-right: 68px;
	font-size: 14px;
	line-height: 40px;
	color: #000000;
	letter-spacing: .01em;

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px;*/
	/*background-color: rgba(255, 0, 0, .2);*/
	/* -------------------------- */
}

.filter-property-container {
	padding-top: 13px;
	margin-bottom: 31px;

	border-top: 2px solid #000000;
}

.filter-body h3 {
	margin: 0;
	margin-bottom: 19px;
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	color: #000000;
	letter-spacing: .01em;
}

.filter-cost {
	padding-bottom: 4px;
}

.filter-cost h3 {
	margin-bottom: 26px;
}
.filter-cost-controls {
	position: relative;
	padding: 9px 0;
	margin-bottom: 2px;
}

.filter-cost-controls .toggle {
	position: absolute;
	content: "";
	top: 0;
	width: 20px;
	height: 20px;
	padding: 0;

	border: 8px solid #ffffff;
	background-color: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(171, 171, 171, .3);
	cursor: pointer;
}

.filter-cost-controls .toggle:active {
	width: 22px;
	height: 22px;
	border-width: 9px;
	outline: 0;
}

.filter-cost-controls .toggle-min {
	left: 0;
	margin-left: -5px;
}


.filter-cost-controls .toggle-max {
	left: 110px;
	margin-left: -2px;
}

.filter-cost-controls,
.filter-cost-values {
	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px;*/
	/* -------------------------- */
}

.filter-cost-values {
	position: relative;

	/* Это (margin-left: 5px) сделано для синхронизации начала лейбла и начала шкалы 
	для "общей системы координат" ручек, лейблов и бара относительно шкалы в случае 
	реализации оживления элемента на js */
	margin-left: 5px; 
	
	font-size: 0; 

	/* к сожалению такая высота задана в макете :( делаю высоты контейнера и строки внутри одинаковыми */
	line-height: 22.27px; 
	height: 22.27px;
}

.filter-cost-values label {
	position: absolute;
	display: inline-block;
	font-family: "gilroylight", Arial, sans-serif;
	font-size: 14px;
	color: rgba(0 ,0 ,0, .2);
}

.filter-cost-values .min-price {
	left: 0;

	/* возвращаем позаимстоваанные 5 пикселей сверху, так как первый лейбл
	спозиционирован на 5px левее начала шкалы по макету */
	margin-left: -5px; 
}

.filter-cost-values .max-price {
	/* вторая ручка сдвинута на 25 пикселей назад по умолчанию 
	относительно "начала кординат" */
	margin-left: -25px; 

	/* теперь тут можно тупо указывать текущего размер прогресс бара */
	left: 110px; 
}

.filter-cost-values input {
	padding: 0;
	font: inherit;
	color: inherit;
	border: none;
	width: 44px;
	background-color: transparent;
}

.filter-cost .scale {
	margin-left: 5px;
	height: 2px;
	background-color: #dbdbdb;
}

.filter-cost .bar {
  width: 110px; /* текущий прогресс бар, активная его часть зеленого цвета */
  height: 2px;

  background: #91c92f;
}

.filter-body input[type="checkbox"]:disabled + span,
.filter-body input[type="radio"]:disabled +span {
	color: rgb(166, 166, 166);
}

.filter-color-list,
.filter-bluetooth-list {
	list-style: none;
	margin: 0;
	padding: 0;
}


.filter-color-list input[type="checkbox"] {
	display: none;
}

.filter-color-list label,
.filter-bluetooth-list label {
	display: inline-block;
	position: relative;
	padding-left: 38px;
}

.filter-color-list label::before {
	display: block;
	position: absolute;
	content: "";

	left: -2px;
	top: 0;
	margin-top: 8px;
	margin-bottom: 9px;

	width: 23px;
	height: 23px;
	background-image: url("../img/filter_checkbox_off.svg");
	background-repeat: no-repeat;
	background-position: center;	
}

/* на макете чекбокс только для розового смещен на 1 пиксель влево, либо ошибка дизайнера либо ... 
мне не нравится, убираю */
/*.filter-color-list label[for="filter-color-pink"]::before {
	left: -1px;
}
*/

.filter-color-list input[type="checkbox"]:checked + label::before {
	width: 27px;
	height: 23px;
	background-image: url("../img/filter_checkbox_on.svg");
}

.filter-bluetooth-list input[type="radio"] {
	display: none;
}

.filter-bluetooth-list label::before {
	display: block;
	position: absolute;
	content: "";

	left: -2px;
	top: 0;
	margin-top: 6px;
	margin-bottom: 9px;

	width: 25px;
	height: 25px;

	border: 4px solid black;
	border-radius: 50%;
}

.filter-bluetooth-list input[type="radio"]:checked + label::after {
	display: block;
	position: absolute;
	content: "";

	left: 6px;
	top: 0;
	margin-top: 14px;
	margin-bottom: 17px;

	width: 9px;
	height: 9px;

	border: 1px solid #000000;
	border-radius: 50%;
	background-color: #000000;
}

.filter-bluetooth-list input[type="radio"]:disabled + label::before,
.filter-bluetooth-list input[type="radio"]:disabled + label::after {
	opacity: .25;
}

.filter-bluetooth-list input[type="radio"]:disabled + label {
	color: #a6a6a6;
}


.filter-color-list label:hover::before,
.filter-bluetooth-list label:hover::before,
.filter-bluetooth-list label:hover::after {
	opacity: .6;
}

.filter-color-list label:active::before,
.filter-bluetooth-list label:active::before,
.filter-bluetooth-list label:active::after {
	opacity: 1;
}

.button-filter-submit {
	margin-left: -2px;
	min-width: 100%;
	max-width: 270px;
}
/* ============== SORT ============== */

.output {
	flex-grow: 1;
	width: 852px;
}

.sort-container {
	background-color: #eeeeee;
}

.sort {
	display: flex;
	width: 832px;
	min-height: 70px;
	padding-left: 72px;

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px;*/
	/*background-color: orange;	*/
}

.sort h2 {
	margin: 0;
	margin-right: 51px;
	
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	padding: 25px 0;
	color: #000000;
	letter-spacing: .2em;
	text-transform: uppercase;

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px;*/
	/*background-color: rgba(255, 0, 0, .2);*/
}

.sort-by-option,
.sort-by-order {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.sort-by-option {
	width: 300px;
	padding-top: 19px;
	padding-bottom: 21px;
	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px;*/
	/*background-color: rgba(255, 0, 0, .2);*/
	/* -------------------------- */
}

.sort-by-option li:first-of-type {
	margin-right: 29px;
	margin-left: 1px;
}

.sort-by-option li:nth-of-type(2) {
	margin-right: 31px;
}

.sort-by-option li:last-of-type {
	margin-right: auto;
}

.sort-by-option a {
	font-family: "opensans", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, .3);

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px;*/
	/*background-color: rgba(255, 0, 0, .2);*/
	/* -------------------------- */
}

.sort-by-option a:hover {
	color: rgba(0, 0, 0, .6);
}

.sort-by-option a:active {
	color: rgba(0, 0, 0, 1);
}

a.sort-by-option-current,
a.sort-by-option-current:hover,
a.sort-by-option-current:active,
a.sort-by-option-current:visited {
	color: rgba(0, 0, 0, 1)
}

.sort-by-order {
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	width: 41px;
	height: 70px;

	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px;*/
	/* -------------------------- */
}

.sort-by-order a {
	display: block;
}

.sort-ascending::before,
.sort-descending::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: 5.5px solid #231f20;
	border-top-width: 10px;
	border-bottom-width: 10px;
	border-left-color: transparent;
	border-right-color: transparent;
}

.sort-ascending::before {
	border-top-width: 0;
}

.sort-descending::before {
	border-bottom-width: 0;
}

.sort-by-order a::before {
	opacity: .2;
}

.sort-by-order a:hover::before {
	opacity: .4;
}

.sort-by-order a:active::before {
	opacity: 1;
}

a.sort-by-order-current::before,
a.sort-by-order-current:hover::before,
a.sort-by-order-current:active::before {
	opacity: 1;
}

/* ============== GOODS ============== */
.goods {
	width: 832px;
	padding-left: 72px;
}

.goods-list,
.pagination-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.goods-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 39px;
	padding-top: 19px;
}

.goods-list li {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	/* --- TEMPORARY FOR GRID --- */
	/*box-shadow: inset 0 0 0 1px;	*/
}

.goods-list li:nth-of-type(odd) {
	margin-right: 40px;
}

.goods-item-title {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	order: 1;
}

.goods-item-title h3 {
	width: 260px;
	margin: 0;
	margin-top: 33px;
}

.goods-item-bar {
	position: relative;
	width: 360px;
	height: 380px;
}

.goods-item-bar:hover {
	cursor: pointer;
}

.goods-item-bar:hover .goods-item-buttons {
	display: flex;
}

.goods-item-buttons {
	display: none;
	position: absolute;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;

	top: 0;
	left: 0;
	
	background-color: rgba(238, 238, 238, .7);
}

.button-add-to-cart {
	min-width: 200px;
	margin-top: 170px;
	margin-bottom: 20px;
}

.button-add-to-comparison {
	padding: 0;
	font-family: "opensans", Arial, sans-serif;
	font-size: 13px;
	line-height: 36px;
	letter-spacing: .01em;
	color: rgba(0, 0, 0, .5);

	border: 0;
	border-radius: 0;
	outline: 0;
	background-color: transparent;
}

.button-add-to-comparison:hover {
	color: rgba(0, 0, 0, 1);
}

.button-add-to-comparison:active {
	color: rgba(0, 0, 0, .2);
}

.goods-item-name {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	color: #000000;
	letter-spacing: .01em;
}

.goods-item-name a {
	color: #000000;
}

.goods-item-price {
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: .01em;
}

.pagination-list {
	display: flex;
	min-height: 70px;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: .2em;
	text-transform: uppercase;

	background-color: #ebebeb;
}

.pagination-item-prev a,
.pagination-item-next a {
	display: block;
	padding-top: 26px;
	padding-bottom: 25px;
}

.pagination-item-prev {
	min-width: 126px;
	padding-left: 30px;
	padding-right: 26px;
	margin-right: 197px;
	
}

.pagination-item-next {
	min-width: 137px;
	padding-left: 32px;
	padding-right: 27px;
	margin-left: auto;
}

.pagination-list li:not(:first-of-type):not(:last-of-type) {
	margin: 0 14px;
	padding-top: 26px;
	padding-bottom: 25px;
}

.pagination-list a {
	color: rgba(0, 0, 0, .3);
}

.pagination-list a:hover {
	color: rgba(0, 0, 0, .6);
}

.pagination-list a:active {
	color: rgba(0, 0, 0, 1);
}

.pagination-item-prev a,
.pagination-item-prev a:hover,
.pagination-item-next a,
.pagination-item-next a:hover,
.pagination-item-current a,
.pagination-item-current a:hover{
	color: rgba(0, 0, 0, 1);
}

.pagination-item-prev a:active,
.pagination-item-next a:active,
.pagination-item-current a:active{
	color: rgba(0, 0, 0, .3);
}

.pagination-item-prev:hover,
.pagination-item-prev:active,
.pagination-item-next:hover,
.pagination-item-next:active {
	background-color: rgba(0, 0, 0, .08);
}

/* ++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++ TEST ++++++++++++++++++ */
.test-modal-close {
	display: block;
	position: relative;
	width: 55px;
	height: 55px;

	font-size:0; /*!!переделать*/
	border: 0;
	outline: 0;
	opacity: .5;
	cursor: pointer; 
	background-color: #f0c52e;
	border-radius: 50%;
}

.test-modal-close::before,
.test-modal-close::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1px;
  /*background-color: black;*/
  background-color: white;
}

.test-modal-close::before {
  transform: rotate(43.8deg);
}

.test-modal-close::after {
  transform: rotate(-43.8deg);
  /*transform: rotate(90deg);*/
} 

.test-modal-close:hover,
.test-modal-close:focus {
	opacity: 1;
}

.test-modal-close:active {
	opacity: .3;
}
